.border-radius {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#car-detail {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#car-detail {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#car-detail span {
    color: #807E7E;
}

#carousel-img {
    width: 100%;
    height: 30rem;
}

#review-btn {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    background-color: #1BD6FF;
}

#btn-get-car{
    background-color: #F3ED55;
}